In [3]:
#SETS...
#creation...
s1={1,2,3,4}
s2={"maida", "nadeem","butt"} #unOrdered as not indexed
s3=set([3.5, 7.8, 4.1, 5.2])
s4=set([True, False, False]) #no duplicates
s5={33, "maida", True, 9.9, 'e', 9.9}  #hetrogeneous data
s6= set()
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(s6)
type(s6)

{1, 2, 3, 4}
{'nadeem', 'butt', 'maida'}
{3.5, 4.1, 5.2, 7.8}
{False, True}
{33, True, 'e', 'maida', 9.9}
set()

set

In [5]:
#UnOrdered
s7 = set([1,2,3,4])
s8 = {1,3,2,4}
print(id(s1), id(s7))
print(s1 is s7)
print(s1 == s7)

print(s1 is s8) #ids are different as diff objects are created no matter same values...
print(s1 == s8) #true coz order not matter in here...

2351461362144 2351461363488
False
True
False
True

In [15]:
#TYPE cASTING 
#list to Set....
l3= [5, "maida", (3, 5, 'e'), True, 3.5, False]
se = set(l3)
print(se)

#l2= [1, 5, "maida", (3, 5, 'e'), [5.6, 7.8]]  #generates error because sets can't have mutable type elements and we added list
#se1 = set(l2)
#print(se1)

{False, True, 3.5, 'maida', 5, (3, 5, 'e')}

In [18]:
#NO NESTATION
#Sets can't have sets, list or dictionary inside it...
s1= {3.4, True, [3,4], 4, {6.7, False}, {'a1':99, "a2":55}}  #only immutable elements..

TypeError: unhashable type: 'list'

In [21]:
#UnPacking....
s={"thsi", "is", "fun", "to", "learn"}
a,b,c,d,e = s
print(a,b,c,d,e,f) #randomness cause no order...


#Packing...
tupS = a,b,c,d,e #by default every thing packed as tuple than type cast to required data type...
pacS = set(tupS)
print(pacS)

fun is to thsi learn False
{'fun', 'is', 'thsi', 'learn', 'to'}

In [24]:
#Accessing Elements 
#1. throug LOOPS as no indexing so other ways (slicing) not Possible...
for i in pacS:
    print(i)
    
#2. Using IN operator...
print("fun" in pacS)

fun
is
thsi
learn
to
True

In [6]:
#ADDING ELEMENTS IN SET....
#1. Add Method....
s1 = set()
print(s1)
s1.add(24) #Add single value at a time only
print(s1)
s1.add(3.5)
print(s1)
s1.add(24) #no duplicate value added but no error generated as well...
print(s1)
s1.add("xyz") 
print(s1)
s1.add(("maida", False, 7.665))  #can add a tuple in set...
print(s1)

#2. Updae Method...
s1.update([False,22,"butt", (24,True)])  #duplicate values can added if inside a tuple only...
print(s1)

set()
{24}
{24, 3.5}
{24, 3.5}
{24, 3.5, 'xyz'}
{24, ('maida', False, 7.665), 3.5, 'xyz'}
{False, 3.5, 'butt', ('maida', False, 7.665), (24, True), 'xyz', 22, 24}

In [7]:
#REMOVING ELEMENTS FROM SETS...
#1. POP..
print(s1)
x = s1.pop()
print(x)  #every time removes any random value and return it...
print(s1)

{False, 3.5, 'butt', ('maida', False, 7.665), (24, True), 'xyz', 22, 24}
False
{3.5, 'butt', ('maida', False, 7.665), (24, True), 'xyz', 22, 24}

In [8]:
#2. Remove....
print(s1)
#s1.remove("butt") #only removes specified value not return it
print(s1)
s1.remove((24, True)) # removes whole tuple not specific value of it.
print(s1)

{3.5, 'butt', ('maida', False, 7.665), (24, True), 'xyz', 22, 24}
{3.5, 'butt', ('maida', False, 7.665), (24, True), 'xyz', 22, 24}
{3.5, 'butt', ('maida', False, 7.665), 'xyz', 22, 24}

In [10]:
#3. Discard Method...
print(s1)
#s1.remove("butt") #error coz not present in set....


s1.discard("butt") #no error
print(s1)

#4. Clear Method..
s1.clear()
print(s1)

#5. Delete Methods..
del s1
#print(s1) #error cause not present in memory..

NameError: name 's1' is not defined

In [46]:
#TYPE CASTING
#String to set...
str = "this is type casting for sets"
setC = set(str)  #set of characters
print(setC)

setC = set(str.split(" ")) #set of strings separated at space character (or any char specified)...
print(setC)

#Sets TO Strongss....
str1 = ' '.join(setC)
print(str1)

{'f', 'e', 'n', 'g', 'o', 'p', 't', 'a', 'h', 'r', 'y', 'c', ' ', 'i', 's'}
{'is', 'sets', 'for', 'this', 'type', 'casting'}
is sets for this type casting

In [48]:
#Object vs Values...
a  = 'hello'
b = 'hello'
print(a is b)
print(a == b)
print(id(a), id(b)) #same
x = set([1,2,3])
y = set([1,2,3])
print(x is y) #coz 2 diff objects at backend
print(x == y)
print(id(x), id(y)) #difff

True
True
2351457738160 2351457738160
False
True
2349354347648 2349354346528

In [60]:
#SPECIAL SET OPERATIONS...
#1. UNION...
s1 = {"maida", "nadeem", "butt"}
s2={"msds", "f22", "mor", "butt"}
s3 = s1 | s2
print(s3)
s4 = s1.union(s2)
print(s4)


#2. Intersection...
s4 = s2.intersection(s1)
print(s4)
print(s1 & s2)  #intersection 

#3. Difference of Sets...
print(s1-s2) #values of s1 not present in s2
print(s2.difference(s1)) #values of s2 not present in s1

#4. Symetric Difference..
print(s1.symmetric_difference(s2)) #diff values which occur once in both sets but not those which are same in both 
print(s2 ^ s1)

#5. Checking Subset
sus={1,3,5,7}
sus2={3,5}
print(sus2.issubset(sus))
print(sus2 <= sus)

#6. Checking SuperSet
print(sus.issuperset(sus2))
print(sus >= sus2)

#7. Disjoint or Not...
print(s1.isdisjoint(s2))

{'msds', 'maida', 'mor', 'f22', 'nadeem', 'butt'}
{'msds', 'maida', 'mor', 'f22', 'nadeem', 'butt'}
{'butt'}
{'butt'}
{'nadeem', 'maida'}
{'msds', 'mor', 'f22'}
{'maida', 'f22', 'nadeem', 'msds', 'mor'}
{'maida', 'f22', 'nadeem', 'msds', 'mor'}
True
True
True
True
False