In [1]:
#DICTIONARY....
d1 = {
    'arif':78,
    'maida':89,
    'faiza': 77,
    'amna':99
}
print(d1)
type(d1)

{'arif': 78, 'maida': 89, 'faiza': 77, 'amna': 99}

dict

In [2]:
#DICTIONARY IS Hetrogeneous...
d2={  #ordered so same dictionary will be diff objects at backend.. having diff ids
    1:"Maida",
    2:"nouman",
    3:"Anoosha",
    4:["Maira","Madiha"], #list
    5:('we', 'uyt'),  #tuple
    6:{1,2,3,4}, #set
    7:{11:"rafi", #dictionary
      22:"rafael"
      },
    (8,9,10):"Arif Butt" #Tuple as Keys
}
print(d2)

{1: 'Maida', 2: 'nouman', 3: 'Anoosha', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'rafael'}, (8, 9, 10): 'Arif Butt'}

In [3]:
#Defining method #2 (as a list of tuples)
d3 = dict([(1, "arif"), (2, "maida"), (3, "maida"), (4, "Maira"), (4, "MIra")]) #same key value override with latest value...
print(d3)

{1: 'arif', 2: 'maida', 3: 'maida', 4: 'MIra'}

In [4]:
d4 = dict()
print(d4)
d5 = {
    "a": 100,
    "b":200,
    "c":300
}
print(d5)

{}
{'a': 100, 'b': 200, 'c': 300}

In [5]:
#ACCESSING VALUES...
#1. Using Subscript...

print(d2[4])
print(d2[7][22]) #Nested dictionary access.
print(d2[(8,9,10)])  #for tuple as keys use all keys in subscript and pass as tuple...

['Maira', 'Madiha']
rafael
Arif Butt

In [6]:
#2. GET Method...
print(d1.get("faiza"))
print(d2.get(6))
print(d2.get((8,9,10))) #pss tuple with round brackets in get function
print(d2.get(7).get(11))  #nested dictionary...

77
{1, 2, 3, 4}
Arif Butt
rafi

In [7]:
#3. Built-In Functions..
print(d3.items()) #all dictionary key value pairs..
print(d2.keys())  #only keys...
print(d2.values()) #only values...

dict_items([(1, 'arif'), (2, 'maida'), (3, 'maida'), (4, 'MIra')])
dict_keys([1, 2, 3, 4, 5, 6, 7, (8, 9, 10)])
dict_values(['Maida', 'nouman', 'Anoosha', ['Maira', 'Madiha'], ('we', 'uyt'), {1, 2, 3, 4}, {11: 'rafi', 22: 'rafael'}, 'Arif Butt'])

In [8]:
#ADDING/MODIFYING VALUES....
#1. Using Subscript...
d2[7][22] = "xyz"  #modifying values...
print(d2)

d2[11] = ("wer", "ert")
print(d2)  #if key not present than add that key value pair in dictionary

{1: 'Maida', 2: 'nouman', 3: 'Anoosha', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'xyz'}, (8, 9, 10): 'Arif Butt'}
{1: 'Maida', 2: 'nouman', 3: 'Anoosha', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'xyz'}, (8, 9, 10): 'Arif Butt', 11: ('wer', 'ert')}

In [9]:
#2. Update Method...
d3.update({4:"Arif Butt"}) #modify value..
print(d3)
d5.update({"d":400})  #add new key value pair..
print(d5)

#MERGE TWO DICTIONARIES...
d3.update(d5)
print(d3) #d5 merged in d3 not vice versa
print(d5) #d5 remains same....

{1: 'arif', 2: 'maida', 3: 'maida', 4: 'Arif Butt'}
{'a': 100, 'b': 200, 'c': 300, 'd': 400}
{1: 'arif', 2: 'maida', 3: 'maida', 4: 'Arif Butt', 'a': 100, 'b': 200, 'c': 300, 'd': 400}
{'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [47]:
#REMOVE ELEMENTS FROM DICTIONARY...
#1. Using Subscript...
del d3[4] #delete the speified hey value
print(d3)
#2. Using Delete 
del d4
d4

{1: 'arif', 2: 'maida', 3: 'maida', 'a': 100, 'b': 200, 'c': 300, 'd': 400}

NameError: name 'd4' is not defined

In [4]:
#3. POPItems() method...

#d3 -> {1: 'arif', 2: 'maida', 3: 'maida', 'a': 100, 'b': 200, 'c': 300, 'd': 400}
d3.popitem() #remove and return the (key, value) pair as tuple in LIFO order i.e. in this case was a dict d5
print(d3)

{1: 'arif', 2: 'maida', 3: 'maida'}

In [5]:
#4. POP('key') METHOD...
d3.pop(2) #key value pair at key=2 is removed and returned
print(d3)

{1: 'arif', 3: 'maida'}

In [6]:

print(d2.pop(3)) #removed value returnedd...
print(d2)

Anoosha
{1: 'Maida', 2: 'nouman', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'rafael'}, (8, 9, 10): 'Arif Butt'}

In [14]:
#5. Clear( ) Method...
d5.clear() #removes all items
print(d5) #empty

{}

In [19]:
#TYPE CASTING...
#1. Dict To Tuple....
d5.update({'a':100, 'b':200, 'c':300, "d":400})
print(d5)
t1 = tuple(d5.items())  #all dict key value pairs are conveted into a tuple of tuples having (key, value).
print(t1)
print("\n", type(t1))

t2= tuple(d5.values()) #tuple of values from dict
print(t2)
print("\n", type(t2))

t3= tuple(d5.keys())
print(t3)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}
(('a', 100), ('b', 200), ('c', 300), ('d', 400))

 <class 'tuple'>
(100, 200, 300, 400)

 <class 'tuple'>
('a', 'b', 'c', 'd')

In [23]:
#2. Dict To List...
l1 = list(d5.items()) #list of tuples...
print(l1)
print("\n", type(l1))

l2 = list(d5.keys())
print(l2)
print("\n", type(l2))

[('a', 100), ('b', 200), ('c', 300), ('d', 400)]

 <class 'list'>
['a', 'b', 'c', 'd']

 <class 'list'>

In [35]:
#SORTING Dictionary...
print(sorted(d1)) #sort in ascending order on key basis...
print(sorted(d1.values()))
print(sorted(d1, reverse=True)) # for descending order

def fun1(item):
    return item[1]
myList = sorted(d1.items(), key=fun1, reverse=True) #sort on the value and return a list of tuples with ()key, value....
print(myList)

['amna', 'arif', 'faiza', 'maida']
[77, 78, 89, 99]
['maida', 'faiza', 'arif', 'amna']
[('amna', 99), ('maida', 89), ('arif', 78), ('faiza', 77)]

In [36]:
#Convert Sorted list of Dictionary back into Dictionary...
sort_dict = dict(myList)
print(sort_dict)
print(type(sort_dict))

{'amna': 99, 'maida': 89, 'arif': 78, 'faiza': 77}
<class 'dict'>

In [38]:
#ALIASING....
#1. By = Operator
dic2 = sort_dict
print(id(sort_dict), id(dic2)) #same ids cause both poiting to same object of dictionary...

dic2['maida'] = 91  #Changes will be implied on both
print(dic2)
print(sort_dict)

2129087744192 2129087744192
{'amna': 99, 'maida': 91, 'arif': 78, 'faiza': 77}
{'amna': 99, 'maida': 91, 'arif': 78, 'faiza': 77}

In [48]:
#2. Shallow Copy
import copy
dic2 = d5.copy()
#dic2 = copy.copy(d5)
print(dic2)
print(id(d5), id(dic2))

{'a': 100, 'b': 500, 'c': 300, 'd': 400}
2129052169408 2129092018752

In [49]:
d5["b"] = 600  #changes not applied on both dictionaries...
print(dic2)
print(d5)

{'a': 100, 'b': 500, 'c': 300, 'd': 400}
{'a': 100, 'b': 600, 'c': 300, 'd': 400}

In [51]:
#3. DEEP COPY...
#cause shallow copy does not work on nested items as expected...
d7 = copy.deepcopy(d2)
print(d7)
print(id(d2), id(d7))

{1: 'Maida', 2: 'nouman', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'xyz'}, (8, 9, 10): 'Arif Butt', 11: ('wer', 'ert')}
2129052866816 2129097318720

In [52]:
d7[7][11] = "XYZ"
print(d7) #changed in d7 only not in d2...
print(d2)

{1: 'Maida', 2: 'nouman', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'XYZ', 22: 'xyz'}, (8, 9, 10): 'Arif Butt', 11: ('wer', 'ert')}
{1: 'Maida', 2: 'nouman', 4: ['Maira', 'Madiha'], 5: ('we', 'uyt'), 6: {1, 2, 3, 4}, 7: {11: 'rafi', 22: 'xyz'}, (8, 9, 10): 'Arif Butt', 11: ('wer', 'ert')}