In [1]:
#SRINGS IN PYTHON
s1 = "Maida"
s2= 'Butt'
s3= ''
s4 = "z"
print(s1)
print(s2)
print(s3)
print(s4)

Maida
Butt

z

In [2]:
s3 = """This is my first
multiline string defination 
with triple quotes"""
print(s3)
s4 = '''This is my first
        multiline "string" defination 
        with triple \"single quotes'''
print(s4)

This is my first
multiline string defination
with triple quotes
This is my first
        multiline "string" defination
        with triple "single quotes

In [3]:
#Accesing String Elements with indexes
str = "This is my first string"
print("Str is : ", str)
print("Str is : ", str[0])
print("Str is : ", str[-1])
print("Str is : ", str[-5])
print("Str is : ", str[8])

#finding Index of the specific string element.
print(str.index('r'))  #same element of same case present in string then return the index of first occurence.
print(str.index('t'))  #Python is case sensitive so small and upper case element's index vary no matter they are same char.
print(str.index('T'))

Str is :  This is my first string
Str is :  T
Str is :  g
Str is :  t
Str is :  m
13
15
0

In [44]:
# STRINGS ARE IMMUTABLE....

str1 = "Maida Butt"
#str1[6] ='b'  #generates error 
print(id(str1))
str1 = "    maida butt is doing masters in datascience        "
print(id(str1))
print(str1)

2201503608944
2201538864944
    maida butt is doing masters in datascience

In [22]:
#STRING SLICING...
print(str1[:len(str1)])  #from start index till end
print(str1[2:7]) #from 2nd index till "6" as "7" is not inclusive
print(str1[5:]) #from 5th index till end.
print(str1[6:15]) #from 6th index till 14th.

maida butt is doing masters in datascience
ida b
 butt is doing masters in datascience
butt is d

In [26]:
#STRING SLICING WITH STEP VALUE...
print(str1[::])  #from start index till end with step 1
print(str1[::2]) #from start index till end with step 2 i.e. missing 1 element
print(str1[::3]) #from start index till end with step 2 i.e. missing 2 element

maida butt is doing masters in datascience
miabt sdigmsesi aacec
mdbtsogae  tcn

In [32]:
#REVERSE STRING SLICING WITH STEP VALUE...
str2 = "0123456789"
print(str2[::-1])
print(str2[::-3])
print(str2[9:4:-3])

9876543210
9630
96

In [35]:
#STRING CONCATENATION..
print(s1+"\n"+s2+"\n"+s3+"\n"+s4[6:11])

Maida
Butt
This is my first
        multiline string defination
        with triple 'double' quotes
s my

In [36]:
#CREATING LARGE STRINGS..
print(s1*5)
print("s3 is: ", s2*3)

MaidaMaidaMaidaMaidaMaida
s3 is:  ButtButtButt

In [40]:
#STRING METHODS...
print(str1.capitalize())
print(str1.lower())
print(len(str1))
print(str1.upper())

Maida butt is doing masters in datascience
maida butt is doing masters in datascience
42
MAIDA BUTT IS DOING MASTERS IN DATASCIENCE

In [45]:
#STRIP METHOD....
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

maida butt is doing masters in datascience
maida butt is doing masters in datascience
    maida butt is doing masters in datascience

In [49]:
#STARTWITH  METHOD...
str1 = "Learning with Jupyter is fun."
print(str1.startswith("Learning"))
print(str1.startswith("learning"))
print(str1.startswith("fun"))
print(str1.startswith("with",9,13))

True
False
False
True

In [52]:
#SPLIT Methods..
print(str1.split())  #separating at space character
print(str1.split(sep="i")) #separating at "i" character and removing i...
type(str1)

['Learning', 'with', 'Jupyter', 'is', 'fun.']
['Learn', 'ng w', 'th Jupyter ', 's fun.']

str

In [54]:
#JOIN Methods....
myList = ["this", "is", "the", "test", "string", "for", "Join", "!!!"]
print(' '.join(myList))
print('$'.join(myList))

this is the test string for Join !!!
this$is$the$test$string$for$Join$!!!