In [1]:
#SERIES in Pandas...
#column of a pandas dataframe...
#Series is a 1d arrays having a sequence of values of any datatype...
#can be ceated from NumPy Arrays or Python Lists or Dictionaries...


import pandas as pd
import numpy as np

In [6]:
#CREATE SERIES FROM PYTHON LIST....
l1 = ["maida", "amna", "shumaila", " ", "soha", np.nan] #we can have Not-A-Number(nan) value in data
sr=pd.Series(l1)
print(sr) #series has thickly assosiated indices in object 
print(type(sr))

0       maida
1        amna
2    shumaila
3
4        soha
5         NaN
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
#creating series with specified indices...
indl=["M01", "M02", "M03", "M04", "M03" ,np.nan] #non unique values of indices is allowed...
#we can have Not-A-Number(nan) value in indicesas well...
sr1=pd.Series(l1, indl)
print(sr1)

M01       maida
M02        amna
M03    shumaila
M04
M03        soha
NaN         NaN
dtype: object

In [9]:
#Creating series with specified dtype...
sr2=pd.Series([23, 12, 33], dtype=np.uint8)  #by default it will take int64
print(sr2)

0    23
1    12
2    33
dtype: uint8

In [10]:
#Creating series with specified Name...
sr3=pd.Series([22, 2, 33], dtype=np.uint8, name="Series#1")  #by default it will take int64
print(sr3)

0    22
1     2
2    33
Name: Series#1, dtype: uint8

In [11]:
#CREATING SERIES FROM NUMPY ARRAY....
arrS=pd.Series(np.arange(4))
print(arrS)

0    0
1    1
2    2
3    3
dtype: int32

In [13]:
#CREATING SERIES FROM DICTIONARY....
dict={
    "name":'Maida',
    "Age": 26,
    "Address":"Sialkot",
    "Cell":12345678,
    "BG": "A+"
}
dsr=pd.Series(dict) #keys becomes row labels in case of 1d....
print(dsr)

name          Maida
Age              26
Address     Sialkot
Cell       12345678
BG               A+
dtype: object

In [16]:
#CREATING SERIES FROM SCALAR VALUE / EMPTY....
ssr=pd.Series(45)
esr=pd.Series(dtype=np.uint8)
print("Scalar:\n",ssr)
print("Empty: \n:",esr)

Scalar:
 0    45
dtype: int64
Empty:
: Series([], dtype: uint8)

In [17]:
#ATTRIBUTES OF SERIES....
print("Name: ",sr3.name)
print("Values: ",sr3.values)
print("Dtype: ",sr3.dtype)
print("Index: ",sr3.index)
print("Shape: ",sr3.shape)
print("Bytes: ",sr3.nbytes)
print("Size: ",sr3.size)
print("Dim: ",sr3.ndim)
print("NaN's: ",sr3.hasnans)

Name:  Series#1
Values:  [22  2 33]
Dtype:  uint8
Index:  RangeIndex(start=0, stop=3, step=1)
Shape:  (3,)
Bytes:  3
Size:  3
Dim:  1
NaN's:  False

In [33]:
#UNDERSTANDING INDEX OF SERIES....
sri=pd.Series(["maida", "amna", "soha", "shumaila", "anoosha"])
print(sri)

0       maida
1        amna
2        soha
3    shumaila
4     anoosha
dtype: object

In [34]:
#1. Change Index...
#numpy array
inar=np.random.randint(100, 500, 5) #random  5 numbers from 100 to 500
sri.index=inar #assign random numbers as indices
print(sri)

#list
inl=["m01", "m02", "m03", "m04", "m05"]
sri.index=inl 
print(sri)

499       maida
405        amna
435        soha
491    shumaila
455     anoosha
dtype: object
m01       maida
m02        amna
m03        soha
m04    shumaila
m05     anoosha
dtype: object

In [40]:
#2. IDENTIFICATION....
sri.index=[33, 65, 12 ,44, 28] #assign random numbers as indices
print(sri)
print("index 455: ", sri[65]) #not work on positional indices only on actual indices we assigned

33       maida
65        amna
12        soha
44    shumaila
28     anoosha
dtype: object
index 455:  amna

In [41]:
#loc[]....
print("index 435: ",sri.loc[12]) #works on actual indices only...

#iloc[]....
print("index 286: ",sri.iloc[0]) #works on positional indices only...

index 435:  soha
index 286:  maida

In [45]:
#list in indices...
print("Subcript: \n", sri[[44, 12]])
print("Loc: \n",sri.loc[[28,33]])
print("iLoc: \n", sri.iloc[[3,0]])

Subcript:
 44    shumaila
12        soha
dtype: object
Loc:
 28    anoosha
33      maida
dtype: object
iLoc:
 44    shumaila
33       maida
dtype: object

In [46]:
#STRING INDICES...
inl=["m01", "m02", "m03", "m04", "m05"]
sri.index=inl 
print(sri)

m01       maida
m02        amna
m03        soha
m04    shumaila
m05     anoosha
dtype: object

In [47]:
print("Subcript: \n", sri['m03'])
print("Loc: \n",sri.loc['m01'])
print("iLoc: \n", sri.iloc['m04']) #error on positional

Subcript:
 soha
Loc:
 maida

TypeError: Cannot index by location index with a non-integer key

In [48]:
print("Subcript: \n", sri[['m04', 'm01']])
print("Loc: \n",sri.loc[['m02', 'm03']])
print("iLoc: \n", sri.iloc[[0]])

Subcript:
 m04    shumaila
m01       maida
dtype: object
Loc:
 m02    amna
m03    soha
dtype: object
iLoc:
 m01    maida
dtype: object

In [49]:
#3. SELECTION --> Slice Object [start:stop:step]..
sri=pd.Series(["maida", "amna", "soha", "shumaila", "anoosha"])
print(sri)

0       maida
1        amna
2        soha
3    shumaila
4     anoosha
dtype: object

In [52]:
#integer indices...
print("Subcript: \n", sri[0:4]) #integer indices so upper limit is not inclusive
print("Loc: \n",sri.loc[0:4]) #in loc[] slice object upper limit is inclusive
print("iLoc: \n", sri.iloc[0:4]) #works on position so default like upper limit exclusive

Subcript:
 0       maida
1        amna
2        soha
3    shumaila
dtype: object
Loc:
 0       maida
1        amna
2        soha
3    shumaila
4     anoosha
dtype: object
iLoc:
 0       maida
1        amna
2        soha
3    shumaila
dtype: object

In [55]:
#String Indices
sri.index=["m01", "m02", "m03", "m04", "m05"]
print(sri)
print("Subcript: \n", sri['m02':'m04']) #m04 will be inclusive incase of string indices
print("Loc: \n",sri.loc['m02':'m04']) #mo4 will be inclusive in loc[]
print("iLoc: \n", sri.iloc[2:4]) #naturally 4 is exclusive

m01       maida
m02        amna
m03        soha
m04    shumaila
m05     anoosha
dtype: object
Subcript:
 m02        amna
m03        soha
m04    shumaila
dtype: object
Loc:
 m02        amna
m03        soha
m04    shumaila
dtype: object
iLoc:
 m03        soha
m04    shumaila
dtype: object

In [57]:
#with step...
print("Subcript: \n", sri['m01':'m04': 2]) #m04 will be inclusive incase of string indices
print("Loc: \n",sri.loc['m04':'m01':-1]) #mo4 will be inclusive in loc[]
print("iLoc: \n", sri.iloc[4::-2]) #naturally 4 is exclusive

Subcript:
 m01    maida
m03     soha
dtype: object
Loc:
 m04    shumaila
m03        soha
m02        amna
m01       maida
dtype: object
iLoc:
 m05    anoosha
m03       soha
m01      maida
dtype: object

In [58]:
#4. ALIGNMENT.....
#used in all arithematic operartion on any no of series with apply operation on their matching indices in both series...
ops=pd.Series([3,5,7,9,11])
ops2=pd.Series([2,4,6,8,10])
print(ops)
print(ops2)

0     3
1     5
2     7
3     9
4    11
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [59]:
print(ops+ops2) #add respective indices and store result

0     5
1     9
2    13
3    17
4    21
dtype: int64

In [60]:
ops1=pd.Series([3,5,7,9,11], [0,2,1,4,3])
ops3=pd.Series([2,4,6,8,10], [2,5,6,1,3])
print(ops1)
print(ops3)

0     3
2     5
1     7
4     9
3    11
dtype: int64
2     2
5     4
6     6
1     8
3    10
dtype: int64

In [61]:
print(ops1+ops3) #for those respective index in other series is missing add nan value and store result

0     NaN
1    15.0
2     7.0
3    21.0
4     NaN
5     NaN
6     NaN
dtype: float64

In [64]:
#use add and sub methods...
print(ops1.add(ops3,fill_value=0))

0     3.0
1    15.0
2     7.0
3    21.0
4     9.0
5     4.0
6     6.0
dtype: float64