In [2]:
#TIME SERIES IN PANDAS.....
import pandas as pd
import time
import datetime

In [3]:
#TIME MODULE
sec=time.time() #return current time in seconds
sec

1677339455.738216

In [4]:
time.ctime(sec) # human readable time of the seconds passed

'Sat Feb 25 20:37:35 2023'

In [5]:
time.ctime(0) #EPOC TIME

'Thu Jan  1 05:00:00 1970'

In [6]:
#DATETIME MODULE...
dto=datetime.datetime(2023,2,25,11, 23, 54)
dto

datetime.datetime(2023, 2, 25, 11, 23, 54)

In [7]:
dto.year

2023

In [8]:
dto.month

2

In [9]:
dto.day

25

In [10]:
dto.hour

11

dto.minute

In [11]:
dto.second

54

In [12]:
dto.microsecond

0

In [13]:
# a) SCALAT STRING TO TIMESTAMP....
str_date='2023-02-24 08:07:34'
print(str_date, type(str_date))

2023-02-24 08:07:34 <class 'str'>

In [14]:
dt=pd.to_datetime(str_date)
print(dt, type(dt))

2023-02-24 08:07:34 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [15]:
dt.year

2023

In [16]:
dt.month

2

In [17]:
dt.hour

8

In [18]:
dt.second

34

In [19]:
pd.to_datetime(['2023-02-24','feb 24, 2023', 'abc'], errors='coerce') 
#invalid string for date so for not generating error and convert valid part

DatetimeIndex(['2023-02-24', '2023-02-24', 'NaT'], dtype='datetime64[ns]', freq=None)

In [20]:
# b) CONVERT PANDA SERIES OF STRINGS TO TIMESTAMP...
st=pd.Series(['2023-9-21', 'Feb 24, 2023', '2022/06/26 07:45:32', '5 march, 2023 5:32'])
st

0              2023-9-21
1           Feb 24, 2023
2    2022/06/26 07:45:32
3     5 march, 2023 5:32
dtype: object

In [21]:
s2=pd.to_datetime(st)
s2

0   2023-09-21 00:00:00
1   2023-02-24 00:00:00
2   2022-06-26 07:45:32
3   2023-03-05 05:32:00
dtype: datetime64[ns]

In [22]:
s2[2].day

26

In [23]:
s2[3].month

3

In [24]:
#HANDLING ISSUES IN TIMESTAMP....
#1. day month problem...
s=pd.to_datetime('06-03-2023') #my day was 6 and month 3
s.day, s.month #result day is 3 and month is 6th cause default format is ['MM/DD','MM-DD','MM DD']

(3, 6)

In [25]:
#2. inavlid format...
t=pd.to_datetime('06-03-2023 08-PM') 
t

ParserError: Unknown string format: 06-03-2023 08-PM

In [29]:
t=pd.to_datetime('06-03-2023 08-PM', format='%d-%m-%Y %I-%p') 
t

Timestamp('2023-03-06 20:00:00')

In [33]:
# SINGLE INTEGER TO TIMESTAMP.....
s=pd.to_datetime(476977394, unit='s', origin='unix')
s

Timestamp('1985-02-11 13:43:14')

In [35]:
s=pd.to_datetime(34, unit='D', origin='2022-01-01') #tim of after e4 days from 1st jan 2022
s

Timestamp('2022-02-04 00:00:00')

In [36]:
# SAMPLE DATASET PRACTISE....
df=pd.read_csv("datasets/datetime1.csv")
df

      name               dob    address  gender
0  Khurram  2022-03-06 21:10     Lahore    Male
1   Fatima  2022/03/06 08:30  Islamabad  Female
2  Huzaifa  2022-03-06 20:15    Karachi    Male
3  Shaista  2022.03.06 18:05   Peshawer  Female

In [39]:
df.dtypes #date of birth is of object time so convert to date time

name       object
dob        object
address    object
gender     object
dtype: object

In [41]:
newD=pd.to_datetime(df.loc[:,'dob'])
newD

0   2022-03-06 21:10:00
1   2022-03-06 08:30:00
2   2022-03-06 20:15:00
3   2022-03-06 18:05:00
Name: dob, dtype: datetime64[ns]

In [45]:
df['dob']=newD
df.dtypes

name               object
dob        datetime64[ns]
address            object
gender             object
dtype: object

In [46]:
#example ---> 2
df=pd.read_csv("datasets/datetime2.csv") #date format not accepted by to_datetime()
df

      name               dob    address  gender
0  Khurram  02-07-1980 08-PM     Lahore    Male
1   Fatima  15-06-2001 06-AM  Islamabad  Female
2  Huzaifa  08-04-1999 05-PM    Karachi    Male
3  Shaista  10-09-2005 02-AM   Peshawer  Female

In [48]:
df['dob']=pd.to_datetime(df.loc[:,'dob'], format='%d-%m-%Y %I-%p')
df.dtypes

name               object
dob        datetime64[ns]
address            object
gender             object
dtype: object

In [49]:
df

      name                 dob    address  gender
0  Khurram 1980-07-02 20:00:00     Lahore    Male
1   Fatima 2001-06-15 06:00:00  Islamabad  Female
2  Huzaifa 1999-04-08 17:00:00    Karachi    Male
3  Shaista 2005-09-10 02:00:00   Peshawer  Female

In [51]:
#example ---> 3 UFO DATASET
df=pd.read_csv("datasets/ufo.csv")
df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [52]:
df['Time']=pd.to_datetime(df.loc[:,'Time'])

In [53]:
df.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [54]:
df.loc[df.Time>='2000/02/10',:] #records after a certain date

              City Colors Reported Shape Reported State                Time
15873     Kirkland           GREEN          OTHER    WA 2000-02-10 04:20:00
15874      Alturas          ORANGE       FIREBALL    FL 2000-02-10 19:30:00
15875       Tucson             NaN            NaN    AZ 2000-02-11 19:20:00
15876     Rockford             NaN          LIGHT    IL 2000-02-11 20:15:00
15877     Rockford          ORANGE      FORMATION    IL 2000-02-11 21:00:00
...            ...             ...            ...   ...                 ...
18236   Grant Park             NaN       TRIANGLE    IL 2000-12-31 23:00:00
18237  Spirit Lake             NaN           DISK    IA 2000-12-31 23:00:00
18238  Eagle River             NaN            NaN    WI 2000-12-31 23:45:00
18239  Eagle River             RED          LIGHT    WI 2000-12-31 23:45:00
18240         Ybor             NaN           OVAL    FL 2000-12-31 23:59:00

[2368 rows x 5 columns]

In [55]:
df.loc[(df.Time>='2000/02/10') & (df.Time>='2000/12/10'),:] #records between dates

               City Colors Reported Shape Reported State                Time
18100  Russellville             NaN            NaN    AR 2000-12-10 00:10:00
18101    Glen Allen             NaN           OVAL    VA 2000-12-10 01:10:00
18102       Mankato             NaN          OTHER    MN 2000-12-10 03:30:00
18103    Marshfield             NaN          LIGHT    WI 2000-12-10 15:00:00
18104     Las Vegas             NaN       TRIANGLE    NV 2000-12-10 17:30:00
...             ...             ...            ...   ...                 ...
18236    Grant Park             NaN       TRIANGLE    IL 2000-12-31 23:00:00
18237   Spirit Lake             NaN           DISK    IA 2000-12-31 23:00:00
18238   Eagle River             NaN            NaN    WI 2000-12-31 23:45:00
18239   Eagle River             RED          LIGHT    WI 2000-12-31 23:45:00
18240          Ybor             NaN           OVAL    FL 2000-12-31 23:59:00

[141 rows x 5 columns]

In [56]:
df.Time.max() #latest sighting of UFO

Timestamp('2000-12-31 23:59:00')

In [58]:
df.loc[df.Time == df.Time.max()] #record of condition given

       City Colors Reported Shape Reported State                Time
18240  Ybor             NaN           OVAL    FL 2000-12-31 23:59:00

In [61]:
cr=df.Time.max() - df.Time.min()
df.loc[df.Time==cr]

Empty DataFrame
Columns: [City, Colors Reported, Shape Reported, State, Time]
Index: []

In [62]:
#CRYPTO CURRENCY DATASET EXAMPLES.....
df=pd.read_csv("datasets/cryptodata.csv")
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [64]:
df['Date']=pd.to_datetime(df.loc[:,'Date'], format='%Y-%m-%d %I-%p')
df.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [65]:
df['Date'][0]

Timestamp('2020-03-13 20:00:00')

In [66]:
df['DayOfWeek']=df['Date'].dt.day_name()

In [67]:
df

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [68]:
#MAKING DATE AS ROW INDICES....
#we are making our data as time series data actually....
df.set_index('Date', inplace=True)

In [69]:
df

,Symbol,Open,High,Low,Close,Volume,DayOfWeek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [71]:
df.loc['2020-03-13']

,Symbol,Open,High,Low,Close,Volume,DayOfWeek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
2020-03-13 15:00:00,ETHUSD,128.39,128.90,116.06,124.85,7378976.00,Friday
2020-03-13 14:00:00,ETHUSD,134.03,137.90,125.50,128.39,3733916.89,Friday
2020-03-13 13:00:00,ETHUSD,131.35,140.95,128.99,134.03,9582732.93,Friday
2020-03-13 12:00:00,ETHUSD,128.93,134.60,126.95,131.35,3906590.52,Friday
2020-03-13 11:00:00,ETHUSD,132.60,133.17,126.01,128.93,3311080.29,Friday
2020-03-13 10:00:00,ETHUSD,133.80,134.99,128.90,132.60,3483436.48,Friday
2020-03-13 09:00:00,ETHUSD,127.12,136.53,126.62,133.80,2767584.44,Friday
2020-03-13 08:00:00,ETHUSD,127.57,133.10,121.94,127.12,6808571.23,Friday
2020-03-13 07:00:00,ETHUSD,127.28,129.00,120.83,127.57,5255468.75,Friday
2020-03-13 06:00:00,ETHUSD,116.87,127.93,114.45,127.28,5701691.64,Friday
2020-03-13 05:00:00,ETHUSD,111.87,124.00,110.75,116.87,6507796.34,Friday
2020-03-13 04:00:00,ETHUSD,130.91,130.91,106.43,111.87,7802511.68,Friday
2020-03-13 03:00:00,ETHUSD,117.02,148.00,115.15,130.91,19431820.56,Friday
2020-03-13 02:00:00,ETHUSD,98.88,127.74,90.00,117.02,18546413.74,Friday
2020-03-13 01:00:00,ETHUSD,107.09,110.99,97.00,98.88,8079507.05,Friday
2020-03-13 00:00:00,ETHUSD,110.30,117.50,102.92,107.09,10329663.69,Friday

In [72]:
df.loc['2020-03'].Volume

Date
2020-03-13 20:00:00    1940673.93
2020-03-13 19:00:00    7579741.09
2020-03-13 18:00:00    4898735.81
2020-03-13 17:00:00    2753450.92
2020-03-13 16:00:00    4461424.71
                          ...
2020-03-01 04:00:00     824455.51
2020-03-01 03:00:00    1754070.34
2020-03-01 02:00:00    1925669.30
2020-03-01 01:00:00    2612868.90
2020-03-01 00:00:00    1719900.97
Name: Volume, Length: 309, dtype: float64

In [73]:
df.loc['2020-03'].Volume.mean()

2600824.97365696

In [75]:
df.loc[:,'Close'].resample('D').max() #max of all records for same Days in df

Date
2017-07-01    275.01
2017-07-02    292.54
2017-07-03    282.36
2017-07-04    282.58
2017-07-05    271.00
               ...
2020-03-09    207.79
2020-03-10    205.79
2020-03-11    202.48
2020-03-12    193.44
2020-03-13    134.03
Freq: D, Name: Close, Length: 987, dtype: float64

In [76]:
df.loc[:,'Close'].resample('M').max() #max of all records for same Month in df

Date
2017-07-31     292.54
2017-08-31     389.78
2017-09-30     395.54
2017-10-31     348.45
2017-11-30     508.82
2017-12-31     858.90
2018-01-31    1418.61
2018-02-28    1138.68
2018-03-31     875.99
2018-04-30     709.00
2018-05-31     828.00
2018-06-30     623.89
2018-07-31     508.23
2018-08-31     431.84
2018-09-30     301.51
2018-10-31     233.20
2018-11-30     220.36
2018-12-31     156.07
2019-01-31     159.43
2019-02-28     164.08
2019-03-31     144.99
2019-04-30     185.32
2019-05-31     287.08
2019-06-30     355.31
2019-07-31     317.14
2019-08-31     235.50
2019-09-30     221.90
2019-10-31     196.07
2019-11-30     193.66
2019-12-31     151.55
2020-01-31     186.62
2020-02-29     286.39
2020-03-31     247.62
Freq: M, Name: Close, dtype: float64

In [77]:
df.loc[:,'Close'].resample('Y').max() #max of all records for same Year in df

Date
2017-12-31     858.90
2018-12-31    1418.61
2019-12-31     355.31
2020-12-31     286.39
Freq: A-DEC, Name: Close, dtype: float64

In [78]:
#date_range(start, periods, freq)....
poo=pd.date_range(start='2022-01-02', periods=10, freq='h')
poo

DatetimeIndex(['2022-01-02 00:00:00', '2022-01-02 01:00:00',
               '2022-01-02 02:00:00', '2022-01-02 03:00:00',
               '2022-01-02 04:00:00', '2022-01-02 05:00:00',
               '2022-01-02 06:00:00', '2022-01-02 07:00:00',
               '2022-01-02 08:00:00', '2022-01-02 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [79]:
poo=pd.date_range(start='2022-01-02', end='2022-01-31' ,freq='d')
poo

DatetimeIndex(['2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
               '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09',
               '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17',
               '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
               '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
               '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29',
               '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [80]:
poo=pd.date_range(start='2022-01-02', end='2022-01-31' ,freq='B')
poo

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='B')

In [83]:
s=pd.Series(pd.date_range(start='2022-01-02', periods=10 ,freq='d')) #series of days mentioned
s

0   2022-01-02
1   2022-01-03
2   2022-01-04
3   2022-01-05
4   2022-01-06
5   2022-01-07
6   2022-01-08
7   2022-01-09
8   2022-01-10
9   2022-01-11
dtype: datetime64[ns]

In [84]:
s.dt.day_name() #day names of series dates

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
8       Monday
9      Tuesday
dtype: object